:root {
  --linear: Braunlinear, sans-serif;
  --white: white;
  --black: black;
  --lystra-blue: #2b00ff;
  --lystra-peach: #f6bbaf;
  --blush: #fdedea;
  --lystra-plum: #6c12fe;
  --overlay: rgba(43, 0, 255, .64);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  font-family: var(--linear);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 105%;
}

h2 {
  font-family: var(--linear);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight: 100;
  line-height: 105%;
}

h3 {
  font-family: var(--linear);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 100;
  line-height: 105%;
}

h4 {
  font-family: var(--linear);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 105%;
}

h5 {
  font-family: var(--linear);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 105%;
}

a {
  font-family: var(--linear);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  line-height: 100%;
  text-decoration: none;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.gallery20_mask {
  overflow: visible;
}

.section-gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery20_slide {
  padding-right: 2rem;
}

.gallery20_arrow {
  border: 1px none var(--black);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  max-height: 3rem;
  margin-left: auto;
  margin-right: 2%;
  display: flex;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.gallery20_arrow.is-left {
  border-style: none;
  border-color: rgba(0, 0, 0, .81);
  max-height: 3rem;
  right: 4rem;
}

.gallery20_arrow-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.1rem;
  height: 2rem;
  display: flex;
}

.padding-large3rem {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.slider-wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.gallery20_slide-nav {
  height: 1.75rem;
  margin-left: 2%;
  font-size: .5rem;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.gallery20_slider-2 {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6rem;
  padding-left: 2%;
  padding-right: 2%;
}

.lystra-button-main {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border: 0 solid rgba(0, 0, 0, 0);
  min-width: 180px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.lystra-button-main:hover {
  background-color: #2b00ff;
}

.lystra-h1-home {
  font-family: Braunlinear, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 105%;
}

.lystra-h1-home.center {
  text-align: center;
}

.lystra-p-right {
  font-family: var(--linear);
  text-align: right;
  max-width: 220px;
}

.lystra-herobox-small {
  text-align: right;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 11px;
  display: flex;
  position: relative;
}

.lystra-box2 {
  width: auto;
  max-width: none;
  min-height: auto;
  padding: 16px 1% 16px 16px;
  position: relative;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.lystra-p-home {
  font-family: var(--linear);
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 150%;
}

.lystra-h2-home {
  font-family: var(--linear);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 105%;
}

.lystra-herobox1 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  position: relative;
}

.image80 {
  width: auto;
  position: relative;
}

.image80.square {
  aspect-ratio: 1;
  aspect-ratio: 1;
  aspect-ratio: 1;
}

.heroflexright {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  height: auto;
  margin: 28px auto 0;
  padding-right: 2%;
  display: flex;
  position: relative;
}

.lystra-pwrap {
  margin-top: 10px;
  margin-bottom: 37px;
}

.lystra-box1imagewrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: auto;
  max-width: none;
  display: flex;
  position: relative;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.lystra-buttonleft {
  font-family: var(--linear);
  border: 0 rgba(0, 0, 0, 0);
  justify-content: flex-start;
  align-items: center;
  margin-top: 17px;
  font-size: 1rem;
  display: flex;
}

.buttonoverlaytext {
  font-family: var(--linear);
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
}

.buttonoverlay {
  opacity: .38;
  cursor: pointer;
  background-color: rgba(82, 47, 255, .71);
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.buttonoverlay:hover {
  display: flex;
}

.hero-felx {
  border: 1px #000;
  justify-content: center;
  align-items: flex-start;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-left: 1%;
  display: flex;
}

.home-subwrap {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  object-fit: cover;
  width: 24vw;
  height: 32vw;
  max-height: none;
}

.lystra-hero-text {
  max-width: 700px;
  margin-left: 0;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 39px;
}

.lystra-hero-text._33 {
  align-self: flex-start;
  width: 40%;
  margin-top: 20px;
}

._100-image {
  text-align: right;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: auto;
  max-height: none;
  position: relative;
}

.absolute {
  aspect-ratio: 1;
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  max-height: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.mainmoviediv {
  border: 0 rgba(0, 0, 0, 0);
  width: 100%;
  margin: 0 auto 135px;
  display: none;
}

.home-section2wrap {
  object-fit: cover;
  border: 0 rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: auto;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55%;
  display: flex;
  position: relative;
}

.homesection2-text {
  z-index: 99;
  color: #fff;
  border: 0 rgba(0, 0, 0, 0);
  flex-flow: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.whiteoutlinebuttonwrap {
  background-color: rgba(0, 0, 0, .11);
  margin-top: 24px;
}

.button-outline {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.button-outline:hover {
  border-color: var(--lystra-blue);
  color: var(--lystra-blue);
}

.section2-imagewrap {
  object-fit: cover;
  border: 0 rgba(0, 0, 0, 0);
  width: 100%;
  max-width: none;
  height: 100%;
  min-height: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.default-button {
  background-color: var(--black);
  font-family: var(--linear);
  cursor: pointer;
  border: 0 solid #000;
  padding: 17px 52px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 100%;
}

.default-button:hover {
  border-color: var(--lystra-blue);
  background-color: var(--lystra-blue);
}

.buttonwrapper {
  font-family: var(--linear);
  cursor: pointer;
  font-weight: 300;
}

.buttonwrapper.dark {
  background-color: var(--lystra-blue);
}

.linkwrapper {
  cursor: pointer;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  line-height: 100%;
}

.alllinks:hover {
  text-decoration: underline;
}

.faq3_accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 47px;
}

.productwrap {
  width: 50%;
  position: relative;
  top: 0;
  bottom: 90px;
}

.faq3_answer {
  overflow: hidden;
}

.price {
  font-family: Braunlinear, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 105%;
}

.rightdiv {
  font-family: var(--linear);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 9% 20px 5%;
  position: static;
}

.swiper-slide {
  flex: none;
}

.swiper-slide.gallery-item {
  width: 100%;
  height: 510px;
}

.swiper-slide.thumbnail-item {
  cursor: pointer;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  transition: transform .4s;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transform: scale(.95);
  box-shadow: 0 0 0 5.5px rgba(0, 0, 0, 0);
}

.margin-bottom, .margin-bottom.margin-small {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.thumb-swiper-wrapper {
  width: 100%;
  padding: 5px;
}

.productsubhead {
  margin-bottom: 43px;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  line-height: 105%;
}

.list-wrap {
  margin-top: 21px;
  padding-left: 25px;
}

.faq3_question {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  cursor: pointer;
  border-top-style: solid;
  border-top-width: 1px;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
}

.thunmbnail-sliders-holder {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  display: flex;
  position: relative;
}

.iconwrap {
  width: 40px;
  height: 40px;
}

.gallery-swiper {
  width: 100%;
  margin-bottom: 42px;
  overflow: hidden;
}

.swiper-wrapper {
  flex: none;
  display: block;
}

.swiper-wrapper.thumbnails-list {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: visible;
}

.swiper-wrapper.gallery-list {
  align-items: center;
  display: flex;
}

.productheadline {
  white-space: normal;
  word-break: normal;
  max-width: 500px;
  margin-top: 10px;
  font-family: Braunlinear, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 105%;
}

.grid-5 {
  font-family: Braunlinear, sans-serif;
}

.container-2 {
  width: 100%;
  max-width: 1328px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.container-2.grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  bottom: 220px;
}

.alignright {
  text-align: right;
}

.gridicon {
  grid-template-columns: .25fr 1fr;
}

.producttext {
  width: 100%;
  max-width: 450px;
  margin-top: 30px;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
}

.faq3_icon-wrapper {
  align-self: flex-start;
  width: 2rem;
  display: flex;
}

.productinfowrap {
  margin-top: 34px;
}

.productcontainer {
  margin-bottom: 220px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: static;
  top: 90px;
  bottom: 90px;
}

.slider-button-right {
  color: #7e3d5d;
  text-align: center;
  cursor: pointer;
  background-color: #dee3ff;
  background-image: url('../images/Group.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border-radius: 100px;
  width: 56px;
  height: 56px;
  padding: 12px;
  font-size: 0;
  font-weight: 400;
  line-height: 1em;
  transition: background-position .15s cubic-bezier(.47, 0, .745, .715), background-color .2s, color .2s;
}

.slider-button-right:hover {
  color: #fff;
  background-color: #c7cfff;
  background-position: 60%;
}

.slider-button-right:active {
  background-color: #657cff;
}

.slider-button-right.absolute-right {
  color: #2b00ff;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  position: absolute;
  top: 210px;
  bottom: auto;
  left: auto;
  right: -100px;
}

.icon-embed-small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.thumbnail-slider-buttons-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.product-paragraph {
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

.slider-button-left {
  color: #7e3d5d;
  text-align: center;
  cursor: pointer;
  background-color: #dee3ff;
  background-image: url('../images/Group-1.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 12px;
  font-size: 0;
  font-weight: 400;
  line-height: 1em;
  transition: background-position .15s cubic-bezier(.47, 0, .745, .715), background-color .2s, color .2s;
}

.slider-button-left:hover {
  color: #fff;
  background-color: #c7cfff;
  background-position: 40%;
}

.slider-button-left:active {
  background-color: #657cff;
}

.slider-button-left.absolute-left {
  color: #2b00ff;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  position: absolute;
  top: 210px;
  bottom: auto;
  left: -100px;
  right: auto;
}

.lystra-buttonwrap {
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  display: flex;
}

.lystra-buttonwrap.left {
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}

.lystra-buttonwrap.left.margin70 {
  margin-top: 40px;
}

.thumb-swiper {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  overflow: visible;
}

.faq3_list {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.text-size-medium {
  font-size: 1.125rem;
}

.descriptionwrap {
  margin-top: 31px;
  margin-bottom: 60px;
}

.videoheadline {
  margin-bottom: 14px;
  font-size: 3rem;
  font-weight: 100;
  line-height: 3.1rem;
}

.hidden {
  display: none;
}

.faqbox {
  margin: 59px auto;
}

.uk-card-media-center.uk-cover-container {
  position: relative;
}

.uk-cover {
  object-fit: cover;
}

.heading-style-h1 {
  font-family: var(--linear);
  color: var(--lystra-blue);
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.banner15_component {
  justify-content: flex-end;
  width: 100vw;
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.mainwidth {
  justify-content: center;
  align-items: flex-start;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.lystra-h5-thin {
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 105%;
}

.circle {
  background-color: #6c12fe;
  border-radius: 200px;
  width: 200px;
  height: 200px;
}

.circle.ffefd3 {
  background-color: #ffefd3;
}

.circle.d7b9ec {
  background-color: #d7b9ec;
}

.circle.gradation-middle {
  background-image: linear-gradient(#c6ceff, #f9d5cd);
}

.circle.f5bbae {
  background-color: #f5bbae;
}

.circle.gradationpurple {
  background-image: linear-gradient(#5012fe, #f9d5cd);
}

.circle._522fff {
  background-color: #2b00ff;
}

.circle.gradationblush {
  background-image: linear-gradient(#c6ceff, #ffefd3);
}

.circle.c6ceff {
  background-color: #c6ceff;
}

.circle._000000 {
  background-color: #000;
}

.stylemain {
  margin-left: auto;
  margin-right: auto;
}

.color-black.circle {
  background-color: #030303;
  border-radius: 200px;
  width: 200px;
  height: 200px;
}

.lystra-h1-thin {
  font-family: Braunlinear, sans-serif;
  font-size: 5rem;
  font-weight: 100;
  line-height: 105%;
}

.logowrap {
  justify-content: center;
  align-items: center;
  width: 70%;
  display: flex;
}

.lystra-h2-thin {
  font-family: Braunlinear, sans-serif;
  font-size: 4rem;
  font-weight: 100;
  line-height: 105%;
}

.grid-trio {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrappermain {
  object-fit: fill;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  position: relative;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lystra-h4 {
  font-family: Braunlinear, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 105%;
}

.heading-6 {
  font-family: Braunlinear, sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.heading-4 {
  width: 700px;
  font-family: Braunlinear, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 105%;
}

.lystra-h1 {
  font-family: Braunlinear, sans-serif;
  font-size: 5rem;
  font-weight: 300;
  line-height: 105%;
}

.lystra-h4-thin {
  font-family: Braunlinear, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 105%;
}

.lystra-h3-thin {
  font-family: Braunlinear, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 105%;
}

.div-block-2 {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.lystra-h2 {
  font-family: Braunlinear, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 105%;
}

.mt-10 {
  margin-top: 10px;
}

.paragraph {
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

.colorblockwrap {
  text-align: center;
}

.uk-button {
  background-color: var(--black);
  color: var(--white);
  padding: 15px 43px;
}

.uk-button:hover {
  background-color: var(--lystra-blue);
}

.uk-button-muted {
  background-color: var(--lystra-peach);
  color: var(--black);
  padding: 15px 43px;
}

.uk-button-muted:hover {
  background-color: var(--lystra-blue);
  color: var(--white);
}

.scrollglow {
  color: var(--lystra-blue);
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
}

.scrolltitlewrap {
  object-fit: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

._3stepparagraph {
  font-family: var(--linear);
  color: var(--lystra-blue);
  white-space: pre-wrap;
  max-width: 270px;
}

.uk-grid {
  margin-left: auto;
  margin-right: auto;
}

.stepright {
  width: 14vw;
  margin-left: 22px;
  margin-right: 10px;
}

.circlepurple {
  background-color: var(--lystra-blue);
  border: 0 solid #000;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  display: flex;
}

.numberwhite {
  font-family: var(--linear);
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
}

.imagewrap-scroll {
  object-fit: cover;
  max-width: 9vw;
  max-height: 200px;
}

.marqueewrap {
  padding-top: 0;
  padding-bottom: 140px;
  display: flex;
  position: relative;
}

.marqueedouble {
  width: 70vw;
  min-width: 100%;
}

.grid-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  min-width: auto;
}

.glowthird {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.image5 {
  object-fit: cover;
  height: auto;
}

.lystra-button {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  min-width: 180px;
  padding: 14px 30px;
  font-family: Braunlinear, sans-serif;
  text-decoration: none;
}

.lystra-button:hover {
  background-color: #2b00ff;
}

.lystra-p-right-2 {
  text-align: right;
  max-width: 220px;
  font-family: Braunlinear, sans-serif;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.scrollerwrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button-outline-2 {
  color: var(--white);
  cursor: pointer;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.button-outline-2:hover {
  color: var(--white);
  border-color: #2b00ff;
}

.homepage4 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.homepage5 {
  width: 100%;
  min-height: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.left-wrap {
  flex: 0 auto;
  width: 50%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.right-wrap {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.right-wrap.blush {
  background-color: var(--blush);
  flex: 0 auto;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  width: 50%;
  max-width: none;
  height: 100%;
  min-height: 900px;
  display: flex;
  position: relative;
}

.eyebrow-home {
  font-family: var(--linear);
  color: var(--lystra-blue);
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.home5heading {
  color: var(--lystra-blue);
  text-align: center;
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 2.5rem;
  font-weight: 300;
}

.imagewrap {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.lystrabluetext {
  font-family: var(--linear);
  color: var(--lystra-blue);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  line-height: 130%;
}

.homepage6 {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 2%;
  display: flex;
}

.section6wrap {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  display: flex;
}

.eyebrow6 {
  font-family: var(--linear);
  letter-spacing: 2px;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 105%;
  display: flex;
}

.section6head {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

.section6imagewrap {
  margin-top: 29px;
  position: relative;
}

.section6textwrap {
  text-align: left;
  max-width: 700px;
  margin-top: 21px;
  margin-bottom: 48px;
}

.paragraph1-2 {
  font-family: var(--linear);
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 130%;
}

.homepage7faq {
  background-color: var(--blush);
  justify-content: center;
  align-items: flex-start;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
  display: flex;
}

.faqwrapper {
  flex: 1;
  align-self: flex-start;
  width: 100%;
  height: auto;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.faqcenter {
  object-fit: cover;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-width: auto;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.code-embed {
  max-width: 500px;
}

.linkpointer {
  text-align: left;
}

.linkpointer:hover {
  color: var(--lystra-plum);
}

.faqgrid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  min-height: 700px;
  display: grid;
}

.imageabsoute {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.leftfaq {
  max-height: 700px;
  position: relative;
}

.imagecover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.backgroundbig {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: none;
  margin-bottom: 124px;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.newsimage {
  object-fit: cover;
  width: 22vw;
  height: 30vw;
  position: relative;
}

.expert-paragraph {
  max-width: 200px;
  margin-top: 23px;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 105%;
}

.lystra-expertskintext {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

.buttonoverlaytext-3 {
  color: #fff;
  font-family: Braunlinear, sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

.lystra-textlink {
  color: var(--lystra-blue);
  cursor: pointer;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

.lystra-textlink:hover {
  color: #6c12fe;
}

.expoert-eybrow {
  margin-bottom: 40px;
  font-family: Braunlinear, sans-serif;
  font-size: .9rem;
}

.newsblock {
  background-color: #fdece9;
  flex: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 11px;
  display: flex;
  position: relative;
}

.double-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 35px;
  display: grid;
}

.lystra-doublewrap {
  margin-left: auto;
  margin-right: auto;
  padding: 45px 2%;
}

.expert-headline {
  font-family: Braunlinear, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.text-block, .text-block-2, .text-block-3 {
  color: var(--lystra-blue);
}

.pp-section5head {
  font-size: 1.8rem;
  line-height: 120%;
}

.pp-section5head.center {
  color: var(--lystra-blue);
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}

.pp-section5 {
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.content-wrap {
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
}

.image-wrapper {
  object-fit: cover;
  border-radius: 4px;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 700px;
  height: 100%;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-two {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pp-scanner {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.pp-centertext {
  font-family: var(--linear);
  color: var(--lystra-blue);
  text-align: center;
  max-width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 120%;
}

.image-one {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-9 {
  aspect-ratio: 1;
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  max-height: none;
  position: relative;
}

.homeeyebrow {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Braunlinear, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  line-height: 110%;
}

.lystra-herobox1-3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  position: relative;
}

.image-10 {
  object-fit: cover;
  width: 24vw;
  height: 32vw;
  max-height: none;
}

.lystra-pwrap-3 {
  margin-top: 10px;
  margin-bottom: 37px;
  font-family: Braunlinear, sans-serif;
}

.lystra-buttonleft-3 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 17px;
  font-size: 1rem;
  display: flex;
}

.lystra-p-home-2 {
  margin-bottom: 0;
}

.techheroleftwrap {
  display: flex;
  position: relative;
}

.grid-4 {
  grid-template-columns: 1fr;
  width: 100%;
}

.lystra-pwrap-4 {
  margin-top: 10px;
  margin-bottom: 37px;
  font-family: Braunlinear, sans-serif;
}

.techleft-imagewrap {
  aspect-ratio: auto;
  max-width: none;
  position: relative;
}

.tech1hero {
  aspect-ratio: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.div-block-4 {
  height: 100%;
}

.techherogrid {
  grid-template-columns: 1.25fr 1fr;
  width: 100%;
}

.techtextwrap {
  text-align: left;
  margin: 26px auto 85px;
  position: relative;
}

.aboutsectionquarters {
  margin-left: auto;
  margin-right: auto;
}

.aboutquarters {
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 64px;
}

.aboutquarters.left {
  grid-template-columns: 1fr .75fr;
}

.div-block-5 {
  margin-left: auto;
  margin-right: auto;
}

.faq2 {
  flex: 1;
  align-self: flex-start;
  width: 100%;
  height: auto;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.codewrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.imagefaq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 400px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.techheading {
  text-align: center;
  max-width: 500px;
  font-family: Braunlinear, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 105%;
}

.aboutleft {
  grid-template-rows: auto;
  grid-template-columns: .75fr .5fr;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 64px 64px 0;
}

.largecenter {
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.typographystack {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.bottommargin {
  margin-bottom: 60px;
}

.mediawrap {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

._50wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.doubleblock {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 131px;
  margin-left: auto;
  margin-right: auto;
}

.grid-14 {
  grid-template-rows: auto;
  width: 100%;
}

.imagebefore {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
}

.beforeafterwrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quartergrid {
  grid-row-gap: 0px;
  height: 100%;
}

.maxheight250 {
  max-height: 400px;
}

.grid-16 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.divright {
  margin-top: -160px;
}

.divleft {
  margin-bottom: -127px;
}

.gridback {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.fadethin {
  background-image: linear-gradient(#fdeeeb 18%, #f0e1fb 66%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  font-family: Braunlinear, sans-serif;
  font-size: 1rem;
  line-height: 110%;
}

@media screen and (max-width: 991px) {
  .padding-large3rem {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .gallery20_slide-nav {
    margin-left: 2%;
  }

  .gallery20_slider-2 {
    padding-bottom: 6rem;
  }

  .lystra-h1-home.center {
    font-size: 1.5rem;
  }

  .lystra-box2 {
    width: auto;
    min-height: auto;
  }

  .lystra-herobox1 {
    padding-right: 0;
  }

  .image80 {
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
  }

  .lystra-box1imagewrap {
    width: auto;
    max-width: none;
  }

  .hero-felx {
    height: 550px;
    min-height: auto;
    padding-bottom: 20px;
    padding-right: 1%;
  }

  .image {
    width: auto;
    height: auto;
    min-height: 350px;
    max-height: 350px;
  }

  .lystra-hero-text {
    flex-flow: column;
    max-width: none;
    padding-left: 2%;
    display: flex;
  }

  ._100-image {
    width: 100%;
    height: 100%;
  }

  .absolute {
    width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: 20vw;
  }

  .mainmoviediv {
    height: auto;
    position: relative;
  }

  .home-section2wrap {
    height: 400px;
    min-height: auto;
  }

  .homesection2-text {
    min-height: auto;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .section2-imagewrap {
    position: absolute;
  }

  .productwrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide.gallery-item {
    height: 600px;
  }

  .swiper-slide.thumbnail-item {
    cursor: pointer;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .productheadline {
    margin-top: 10px;
  }

  .container-2.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 700px;
    display: flex;
  }

  .productcontainer {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .slider-button-right:hover {
    background-position: 50%;
  }

  .slider-button-right.absolute-right {
    display: none;
    top: 130px;
    right: -70px;
  }

  .slider-button-left:hover {
    background-position: 50%;
  }

  .slider-button-left.absolute-left {
    display: none;
    top: 130px;
    left: -70px;
  }

  .videoheadline {
    margin-bottom: 0;
  }

  .heading-style-h1 {
    font-size: 1.2rem;
  }

  .grid-trio, .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .colorblockwrap {
    width: 100%;
  }

  .colorblockwrap.blue {
    background-color: #2b00ff;
  }

  .div-block {
    width: 256px;
    height: 256px;
  }

  ._3stepparagraph {
    margin-top: 16px;
  }

  .stepright {
    width: 22vw;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .circlepurple {
    width: 9vw;
    height: 9vw;
  }

  .imagewrap-scroll {
    width: 27vw;
    max-width: 27vw;
    height: 20vw;
    max-height: 17vw;
    overflow: hidden;
  }

  .glowthird {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .image-5, .image5 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .scrollerwrap {
    position: static;
  }

  .homepage5 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .left-wrap {
    width: 100%;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .right-wrap.blush {
    width: 100%;
    min-height: 900px;
  }

  .section6textwrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .faqcenter {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .code-embed {
    margin-top: 48px;
  }

  .faqgrid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .imageabsoute {
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .leftfaq {
    height: 500px;
  }

  .imagecover {
    min-height: auto;
  }

  .backgroundbig {
    width: 100%;
    max-width: none;
    height: 100%;
    min-height: 400px;
    max-height: 20vw;
  }

  .expert-paragraph {
    font-size: 1rem;
    line-height: 105%;
  }

  .expert-headline {
    font-size: 1.4rem;
  }

  .image-wrapper {
    height: auto;
    min-height: auto;
  }

  .image-9 {
    width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: 20vw;
  }

  .lystra-herobox1-3 {
    padding-right: 0;
  }

  .image-10 {
    width: auto;
    height: auto;
    min-height: 350px;
    max-height: 350px;
  }

  .techherogrid {
    grid-template-columns: 1fr 1fr;
  }

  .aboutquarters, .aboutquarters.left {
    grid-template-columns: 1fr;
  }

  .imagefaq {
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .aboutleft {
    grid-template-columns: 1fr;
  }

  .largecenter {
    min-height: auto;
  }

  .bottommargin {
    margin-bottom: 0;
  }

  .mediawrap {
    margin-top: 0;
    position: relative;
  }

  .grid-14 {
    grid-template-columns: 1fr;
  }

  .imagebefore {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .gridback {
    width: 100%;
    height: auto;
    min-height: auto;
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .gallery20_slide {
    padding-right: 1.5rem;
  }

  .gallery20_arrow {
    width: 2.2rem;
    height: 2.2rem;
    right: 1%;
  }

  .gallery20_arrow.is-left {
    width: 2.2rem;
    height: 2.2rem;
    right: 3.5rem;
  }

  .padding-large3rem {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .gallery20_slider-2 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 2%;
  }

  .lystra-h1-home.center {
    font-size: 2rem;
  }

  .lystra-box2 {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .lystra-herobox1 {
    width: 100%;
  }

  .image80.square {
    width: 100%;
    height: 100%;
  }

  .heroflexright {
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 17px;
  }

  .lystra-box1imagewrap {
    font-family: var(--linear);
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-felx {
    flex-flow: column;
    height: auto;
    min-height: auto;
    padding-right: 1%;
    display: flex;
  }

  .image {
    width: 100%;
    min-height: auto;
    max-height: none;
  }

  .lystra-hero-text {
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
    margin-bottom: 0;
    padding-right: 0;
  }

  .lystra-hero-text._33 {
    width: 100%;
  }

  .absolute {
    width: 100%;
    height: 100%;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  .home-section2wrap {
    height: 300px;
    min-height: auto;
  }

  .swiper-slide.thumbnail-item {
    cursor: pointer;
    width: 14svw;
    height: 14svw;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .faq3_question {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .swiper-wrapper.thumbnails-list {
    justify-content: center;
  }

  .container-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container-2.grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .faq3_icon-wrapper {
    width: 1.75rem;
  }

  .slider-button-right {
    background-size: 16px;
    width: 48px;
    height: 48px;
  }

  .slider-button-right.absolute-right {
    position: static;
  }

  .thumbnail-slider-buttons-wrapper {
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .slider-button-left {
    background-size: 16px;
    width: 48px;
    height: 48px;
  }

  .slider-button-left.absolute-left {
    position: static;
  }

  .thumb-swiper {
    justify-content: center;
    align-items: flex-start;
    max-width: none;
    margin-bottom: 16px;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .heading-style-h1 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .colorblockwrap {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .stepright {
    width: 42vw;
    margin-right: 26px;
  }

  .circlepurple {
    width: 11vw;
    height: 11vw;
  }

  .imagewrap-scroll {
    max-width: 22vw;
  }

  .grid-6 {
    grid-template-columns: 1fr;
  }

  .glowthird {
    flex-flow: row;
    padding: 30px;
  }

  .left-wrap {
    min-height: 400px;
  }

  .backgroundbig {
    width: 100%;
    height: 100%;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  .newsimage {
    width: 33vw;
    height: 40vw;
  }

  .expert-paragraph {
    font-size: 1rem;
  }

  .double-wrap {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .expert-headline {
    font-size: 1.4rem;
    line-height: 105%;
  }

  .grid-13 {
    grid-template-columns: 1fr;
  }

  .image-wrapper {
    max-width: 200px;
  }

  .image-9 {
    width: 100%;
    height: 100%;
    max-height: 60vw;
  }

  .image-10 {
    width: 100%;
    min-height: auto;
    max-height: none;
  }

  .grid-4 {
    display: block;
  }

  .techleft-imagewrap {
    height: 400px;
  }

  .tech1hero {
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin-bottom: -13px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .div-block-4 {
    height: 400px;
    position: relative;
  }

  .techherogrid {
    margin-top: 10px;
  }

  .techtextwrap {
    margin-top: 0;
  }

  .mediawrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    min-height: 1000px;
    display: grid;
  }

  ._50wrap {
    flex-flow: column;
    min-height: 1000px;
    display: flex;
  }

  .beforeafterwrap {
    flex-flow: column;
    min-height: auto;
    display: flex;
  }

  .grid-16 {
    grid-template-columns: 1fr;
  }

  .divright {
    max-height: 200px;
    margin-top: 37px;
  }

  .divleft {
    max-height: none;
    margin-bottom: 56px;
  }

  .gridcenter {
    margin-top: -21px;
  }

  .gridback {
    min-height: 1000px;
    position: static;
  }

  .fadethin {
    flex-flow: column;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .padding-large3rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lystra-h1-home {
    font-size: 2rem;
  }

  .image80 {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
  }

  .lystra-box1imagewrap {
    width: 100%;
  }

  .hero-felx {
    height: auto;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .home-subwrap {
    margin-top: 5px;
  }

  .lystra-hero-text {
    width: 100%;
    max-width: none;
    padding-right: 2%;
  }

  .lystra-hero-text._33 {
    width: 100%;
  }

  .absolute {
    width: 100%;
    height: 100%;
    max-height: none;
  }

  .mainmoviediv {
    min-height: 400px;
  }

  .home-section2wrap {
    flex-flow: column;
    height: auto;
    min-height: 400px;
    padding-top: 0%;
  }

  .homesection2-text {
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .section2-imagewrap {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
  }

  .rightdiv {
    padding-top: 0;
  }

  .swiper-slide.gallery-item {
    height: 500px;
  }

  .swiper-slide.thumbnail-item {
    width: 22svw;
    height: 22svw;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .productheadline {
    margin-top: 0;
  }

  .videoheadline {
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .stepright {
    width: 90%;
  }

  .circlepurple {
    width: 22vw;
    height: 22vw;
  }

  .imagewrap-scroll {
    width: 100%;
    max-width: none;
    height: 50vw;
    max-height: 50vw;
  }

  .glowthird {
    flex-flow: column;
    width: auto;
  }

  .left-wrap {
    min-height: auto;
  }

  .right-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .right-wrap.blush {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .eyebrow6 {
    text-align: left;
    font-size: .8rem;
  }

  .section6head {
    text-align: left;
    font-size: 2.5rem;
  }

  .paragraph1-2 {
    font-family: var(--linear);
    font-size: 1.2rem;
  }

  .homepage7faq {
    padding-left: 10px;
    padding-right: 10px;
  }

  .faqgrid {
    min-height: 900px;
  }

  .leftfaq {
    height: 400px;
  }

  .backgroundbig {
    width: 100%;
    height: 100%;
    max-height: none;
  }

  .newsimage {
    width: 90vw;
    height: 80vw;
    margin-bottom: 26px;
  }

  .lystra-expertskintext {
    margin-bottom: 31px;
  }

  .newsblock {
    flex-flow: column;
  }

  .image-wrapper {
    min-height: 200px;
  }

  .image-9 {
    width: 100%;
    height: 100%;
    max-height: none;
  }

  .lystra-buttonleft-3 {
    justify-content: center;
    align-items: center;
  }

  .techheroleftwrap {
    justify-content: center;
    align-items: flex-start;
  }

  .techleft-imagewrap {
    object-fit: cover;
    height: 180px;
    min-height: auto;
  }

  .tech1hero {
    aspect-ratio: auto;
    object-fit: cover;
    height: auto;
    margin-bottom: 0;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-4 {
    height: auto;
  }

  .techherogrid {
    grid-template-columns: 1.75fr;
  }

  .aboutquarters.left {
    padding-left: 1%;
    padding-right: 1%;
  }

  .techheading {
    font-size: 2rem;
  }

  .largecenter {
    min-height: auto;
  }

  .grid-14 {
    grid-template-columns: 1fr;
  }

  .beforeafterwrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .gridback {
    min-height: 350px;
  }

  .fadethin {
    min-height: auto;
  }
}

#w-node-_8227fbf9-aae8-41d5-0d39-adb3e5d299f9-24d4da7f, #w-node-_8227fbf9-aae8-41d5-0d39-adb3e5d29a05-24d4da7f, #w-node-_8227fbf9-aae8-41d5-0d39-adb3e5d29a13-24d4da7f {
  align-self: center;
  justify-self: center;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfdfe-d820a03d {
  grid-area: 2 / 3 / 3 / 11;
}

#w-node-efebdf17-1990-2473-c5d8-0770ca832eed-d820a03d {
  justify-self: start;
}

#w-node-fcb1eed8-ff06-05f0-a8d5-57e20137766a-d820a03d {
  align-self: center;
  justify-self: start;
}

#w-node-_2a0708b4-3dfe-4748-4c69-0118fd172655-d820a03d {
  justify-self: end;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe19-d820a03d {
  align-self: center;
  justify-self: end;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe43-d820a03d {
  align-self: center;
  justify-self: center;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe45-d820a03d {
  align-self: center;
  justify-self: start;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe49-d820a03d {
  align-self: center;
  justify-self: center;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe4b-d820a03d {
  align-self: center;
  justify-self: start;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe4f-d820a03d {
  align-self: center;
  justify-self: center;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe51-d820a03d {
  align-self: center;
  justify-self: start;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe55-d820a03d {
  align-self: center;
  justify-self: center;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe57-d820a03d {
  align-self: center;
  justify-self: start;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe5b-d820a03d {
  align-self: center;
  justify-self: center;
}

#w-node-_49117110-3955-3bb6-2d9a-111a9a4dfe5d-d820a03d {
  align-self: center;
  justify-self: start;
}

#w-node-_875c5cee-55fe-6667-1aeb-ecc27f959e5b-f16b93e6, #w-node-dbb30e03-9ed2-4727-0421-aaa3f5e43410-f16b93e6, #w-node-_7f94a512-2aa4-32d1-7a89-46912b26c729-f16b93e6, #w-node-_01f68ddc-e09e-1aa8-4496-1b13e03f4dee-f16b93e6, #w-node-_01f68ddc-e09e-1aa8-4496-1b13e03f4dfa-f16b93e6, #w-node-_01f68ddc-e09e-1aa8-4496-1b13e03f4e08-f16b93e6 {
  align-self: center;
  justify-self: center;
}

#w-node-bf7d8140-cca9-e7ff-db3a-a82106372d72-7db9ad0a {
  align-self: start;
  justify-self: center;
}

#w-node-bf7d8140-cca9-e7ff-db3a-a82106372d79-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372d80-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372d87-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372d8f-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372d97-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372d9f-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372da6-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372db1-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372dbb-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372dc5-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372dd2-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372dd9-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372de4-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372de7-7db9ad0a, #w-node-bf7d8140-cca9-e7ff-db3a-a82106372deb-7db9ad0a {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: center;
}

#w-node-_395f8a96-8bb4-72cc-0365-cb1f65daf2c9-8f957fc5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d9cb1d37-66e9-308e-e499-c8667a45037a-8f957fc5, #w-node-_8bd9869f-0209-77d8-a70e-2677ae2e267b-8f957fc5, #w-node-_34a68b4c-be45-5f94-aa05-5657b7294df8-8f957fc5 {
  align-self: center;
  justify-self: start;
}

#w-node-d0d594f3-cca4-71ca-de08-86e595e68e4c-cf587b2f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4cf529a0-1039-9a62-bf4b-565ccfd2492f-cf587b2f {
  align-self: center;
  justify-self: start;
}

#w-node-_4cf529a0-1039-9a62-bf4b-565ccfd24937-cf587b2f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4cf529a0-1039-9a62-bf4b-565ccfd2493c-cf587b2f {
  align-self: center;
  justify-self: start;
}

#w-node-_3f0b6121-b6a0-987c-d244-cd41172b0830-cf587b2f {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-cd71bc68-a13c-5216-fab3-f80e8e2b4769-cf587b2f {
  align-self: end;
}

#w-node-db562cac-81ce-59ba-db5c-2d1de09fbf2e-cf587b2f {
  align-self: center;
}

#w-node-_16e098d2-5866-f461-2a5e-5e3dff1b21ee-cf587b2f {
  align-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_49117110-3955-3bb6-2d9a-111a9a4dfdfe-d820a03d {
    grid-column: 2 / 12;
  }

  #w-node-b99743b1-8460-1a98-d29f-9c9e429c09d5-cf587b2f, #w-node-ccda12b7-b194-d6a8-4137-aa55efb7925c-cf587b2f, #w-node-d08a9682-468c-c577-f927-7306f0e44972-cf587b2f {
    align-self: center;
    justify-self: center;
  }

  #w-node-ae43a264-5fb7-6bf9-8b94-ebdb5997ff2c-cf587b2f {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-ae43a264-5fb7-6bf9-8b94-ebdb5997ff2e-cf587b2f {
    align-self: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_49117110-3955-3bb6-2d9a-111a9a4dfdfe-d820a03d {
    grid-area: span 1 / span 6 / span 1 / span 6;
  }

  #w-node-bf7d8140-cca9-e7ff-db3a-a82106372d72-7db9ad0a {
    align-self: center;
  }

  #w-node-_395f8a96-8bb4-72cc-0365-cb1f65daf2c4-8f957fc5, #w-node-_395f8a96-8bb4-72cc-0365-cb1f65daf2d8-8f957fc5, #w-node-d0d594f3-cca4-71ca-de08-86e595e68e47-cf587b2f, #w-node-d0d594f3-cca4-71ca-de08-86e595e68e5b-cf587b2f {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@font-face {
  font-family: 'Braunlinear';
  src: url("https://lystrastyle.netlify.app/assets/fonts/braunlinear-light.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Braunlinear';
  src: url("https://lystrastyle.netlify.app/assets/fonts/braunlinear-bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Braunlinear';
  src: url("https://lystrastyle.netlify.app/assets/fonts/braunlinear-thin.otf") format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Braunlinear';
  src: url("https://lystrastyle.netlify.app/assets/fonts/braunlinear-medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Braunlinear';
  src: url("https://lystrastyle.netlify.app/assets/fonts/braunlinear-regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


